
body,html
{
	margin:0;
	padding:0;
	height:100%;
}

body
{
	background-color:white;
	
}

#bandeau
{
	margin-top:0.5em;
	width:50%;
	margin-left:25%;
	margin-right:25%;
	height:200px;
}

header
{	
	
	background-color:rgb(88,88,90);
	
}




#image1,#image2,#image3,#imageSem1,#imageSem2
{
	width:200px;
	height:150px;
	margin-top:2.5em;
	opacity:0.7;
	border-radius:10px 10px 10px 10px;
	
	
}

#image4,#image5,#image6,#imageSem3,#imageSem4
{
	width:200px;
	height:150px;
	margin-top:5em;
	opacity:0.7;
	border-radius:10px 10px 10px 10px;
	
}

h1,h4
{
	text-align:center;
	font-family:"comic sans ms";
	color:orange;
	font-size:25px;
}

nav li
{
	list-style-type:none;
	display:inline;
	margin-right:5em;
	margin-top:5em;
}

nav
{
	text-align:center;
}

#image1:hover,#image2:hover,#image3:hover,#image4:hover,#image5:hover,#image6:hover,#imageSem1:hover,#imageSem2:hover,#imageSem3:hover,#imageSem4:hover
{
	opacity:1;
}

#image1,#image2,#image3,#image4,#image5,#image6,#imageSem1,#imageSem2,#imageSem3,#imageSem4
{
	border-top: 0.3em solid #FF9300;
	border-left: 0.3em solid #FF9300;
	border-right: 0.3em solid #FF9300;
	border-bottom:0.3em solid #FF9300;
}

h2
{
	color:orange;
}

p 
{
	color:rgb(88,88,90);
}

#secp1
{
	margin-left:25px;
	margin-right:0;
	margin-top:25px;
	border-top: 0.3em solid #FF9300;
	border-left: 0.3em solid #FF9300;
	border-right: 0.3em solid #FF9300;
	border-bottom: 0.3em solid #FF9300;
	border-radius: 20px 20px 20px 20px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	float:left;
	width:40%;
	
}





#connexion,#formulaire,#recherche
{
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px 10px 10px 10px;
	width:25%;
	border-top: 0.3em solid #FF9300;
	border-left: 0.3em solid #FF9300;
	border-right: 0.3em solid #FF9300;
	border-bottom: 0.3em solid #FF9300;
	padding-top:20px;
	margin-bottom:25px;
}

#identifiant
{
	background: url(iconid.png) no-repeat scroll 7px 7px;
}

#pass
{
	background: url(iconsec.png) no-repeat scroll 7px 7px;
}

#form
{
	background: url(iconform.png) no-repeat scroll 7px 7px;
}

#filtre
{
	background: url(iconidea.png) no-repeat scroll 7px 7px;
}
#pass,#identifiant,#filtre
{
	margin-left:20%;
	margin-right:20%;
	margin-top:10px;
	margin-bottom:10px;
	width:60%;
	border-radius:10px 10px 10px 10px;
	height:35px;
	text-align:center;
	background-color:#FFCDA0;
	
}

#inscription
{
	width:20%;
	margin-left:40%;
	margin-right:40%;
	margin-top:30px;
	background-color:#E36B00;
	border-radius:5px 5px 5px 5px;
	font-size:20px;
	border-color:black;
	margin-bottom:20px;
	color:black;
}


#valideconnexion,#valideform,#validefiltre
{
	margin-left:30%;
	margin-right:30%;
	margin-top:10px;
	margin-bottom:10px;
	width:40%;
	border-radius:5px 5px 5px 5px;
	height:25px;
	border-top: 0.2em solid grey;
	border-left: 0.2em solid grey;
	border-right: 0.2em solid black;
	border-bottom: 0.2em solid black;
	background-color:#E36B00;
	color:black;
}

#valideconnexion:hover,#valideform:hover,#validefiltre:hover,#inscription:hover
{
	border-color:orange;
}

::-webkit-input-placeholder { text-align:center; }
::-moz-placeholder { text-align:center; }
:-ms-input-placeholder { text-align:center; } 
input:-moz-placeholder { text-align:center; }


#form
{
	margin-left:15%;
	margin-right:15%;
	margin-top:10px;
	margin-bottom:10px;
	width:70%;
	border-radius:10px 10px 10px 10px;
	height:35px;
	text-align:center;
	background-color:#FFCDA0;
}



#imageP1S1
{
	display:inline;
	float:right;
	margin-right:75px;	
	margin-top:70px;
}

#imP1S1
{
	width:500px;
	height:300px;
	border-top: 0.3em solid #FF9300;
	border-left: 0.3em solid #FF9300;
	border-right: 0.3em solid #FF9300;
	border-bottom: 0.3em solid #FF9300;
	border-radius: 20px 20px 20px 20px;
}

#navigation a 
{
	text-decoration:none;
	color:orange;
	font-size:20px;
	font-family:"comic sans ms";
	padding-left:0.2em;
	padding-right:0.2em;
	
}	

#navigation ul 
{
	width:60%;
	margin-left:20%;
	margin-right:20%;
}



#navigation
{
	width:100%;
	background-color:rgb(88,88,90);
	height:30px;
	
	
	
}



#navigation a:hover 
{
	
	background-color:#FF7400;
	transition-duration:0.5s;
	padding-bottom:0.5em;
	color: black;
}




#labelfiltre
{
	margin-left:32%;
	color:#FF9300;
}



#LOGOIUT
{
	width:30%;
	height:150px;
	margin-left:35%;
	margin-right:35%;
	margin-top:0.6em;
	margin-bottom:25px;
	border-radius:20px 20px 20px 20px;
	
}